<div class="text-center text-2xl text-purple-900 font-mono italic p-4 rounded hover:opacity-75 ">
<%= link_to vender.title, vender_path(vender.id)%>
  </div>

<div class="flex justify-center">
<%= link_to image_tag(vender.image, size: '400x400', class: 'rounded-2xl '), vender_path(vender.id)%>
  </div>

<div class="text-center font-mono text-blue-600">
  <%= "by #{vender.user.nickname}さん"%>
  </div>
