<div class="bg-gradient-to-r from-blue-400">
<div class="w-1/2 md:w-full text-4xl text-purple-600 text-center p-10 animate-bounce italic font-bold">
テスト
  </div>
<% @venders.each do |vender| %>
    <%= render partial: "vender", locals: { vender: vender } %>
  <% end %>
<div class='p-top__paginate p-8 hover:opacity-75 text-2xl' ><%= paginate(@venders) %></div>