<div class="text-4xl text-purple-600">
投稿一覧
</div>

<% @venders.each do |vender| %>
<%= link_to vender_path(vender.id)%>
  <p>タイトル</p>
  <span><%= link_to vender.title, "/vender/#{vender.id}" %></span>

<% end %>